@tailwind base;
@tailwind components;
@tailwind utilities;

/*
browser reset
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* styling */

body {
  @apply font-sans font-normal;
}

h1 {
  @apply text-2xl;
}
